<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      <form action="/api/v1/players/add" method="post">
        <label for="name">id</label>
        <input type="text" id="id" name="id" />
        <label for="name">name</label>
        <input type="text" id="name" name="name" />
        <label for="name">birthdate</label>
        <input type="text" id="birthdate" name="birthdate" />
        <label for="name">nationality</label>
        <input type="text" id="nationality" name="nationality" />
        <label for="name">teamId</label>
        <input type="text" id="teamId" name="teamId" />
        <label for="name">position</label>
        <input type="text" id="position" name="position" />
        <label for="name">number</label>
        <input type="text" id="number" name="number" />
        <label for="name">leagueId</label>
        <input type="text" id="leagueId" name="leagueId" />
        
      </form>
      <input type="button" id="añadir" value="Añadir">
      <input type="button" id="buscar" value="Buscar">
      <input type="button" id="modificar" value="Modificar">
      <input type="button" id="eliminar" value="Eliminar">
    </div>
  </body>
</html>
